@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header {
  display: flex;
  position: fixed;
  z-index: 3;
}

.header-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title-wrapper {
  background-color: #1b1b1b;
  min-height: 8vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  font-size: calc(10px + 3vmin);
  font-weight: bolder;
  color: white;
  border-bottom: 1px solid #6441a5;
  z-index: 3;
}

.title {
  padding: 10px;
}

.nav-wrapper {
  background-color: #1b1b1b;
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  padding: 20px;
  justify-content: end;
  font-size: calc(7px + 1vmin);
  font-weight: 700;
  color: white;
  gap: 16px;
  border-bottom: 1px solid #6441a5;
}

.body {
  background-color: rgb(14, 13, 14);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 1;
}

.nav-link:hover {
  color: #6441a5;
  cursor: pointer;
}

.body-wrapper {
  display: flex;
}

.side-panel {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60px;
  background-color: #1f1e1e;
  left: 0;
  z-index: 2;
  border-right: 1px solid #6441a5;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid #6441a5;
  padding: 30px;
  border-radius: 5px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.notes-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-size: 20px;
  color: white;
  margin-left: auto;
  background-color: #6441a5;
  border-radius: 6%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.notes-btn:hover {
  background-color: #401a88;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

.about-title {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  font-size: 48px;
  overflow: hidden;
  border-radius: 5px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 800px;
  max-width: 600px;
  margin: 30px auto;
  border: 1px solid #6441a5;
  padding: 30px;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  background: #6441a5;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 6px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  padding: 10px;
  display: block;
  width: 100%;
}

.task {
  background: #6441a5;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid rgb(151, 151, 151);
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}